[github]
	user = LemonBreezes
[user]
	name = ***REMOVED***
	email = ***REMOVED***
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@bitbucket.org/"]
	insteadOf = https://bitbucket.org/
[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/
[merge]
	ff = only
